
@{ 
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<section class="menu_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title position-relative">
                    <h1>@ViewBag.menu.Head</h1>
                    <hr>
                    <div class="round-planet planet">
                        <div class="round-planet planet2">
                            <div class="shape shape1"></div>
                            <div class="shape shape2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row menu_inner">
            <div class="col-md-12 col-lg-10 col-xl-6">
                <div class="menu_list">
                    <ul class="list">
                        @foreach (var item in ViewBag.m)
                        {
                            <li>
                                <h4>
                                    @item.Head1
                                    <span>@item.Price</span>
                                </h4>
                                <p>@item.Description</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>